.white-word {
  color: white;
}

.btn-flat i {
  font-size: 1rem;
}

.size-box {
  padding: 50px;
  height: 68vh;
  overflow: hidden;
  padding-top: 100px;
}

.picker__box {
  width: 80%;
  margin-left: 50px;
  margin-top: -25px;
}

.margin {
  margin-top: 20px;
  margin-bottom: -5px;
}

.size-image {
  width: 500px;
}

.card-panel {
  margin: 4rem;
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
  border: 1px solid rgb(211, 209, 209);
}

.card-panel:hover {
  box-shadow: 10px 10px 5px rgb(128, 124, 124);
}

@media only screen and (max-width: 500px) {
  .size-image {
    width: 280px;
    margin: 5px;
  }

  .card-panel {
    margin: 1rem;
  }
}