body {
  background-color: rgb(236, 234, 234);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 6px;  
}
.white-word {
  color: white;
}

.btn-flat i {
  font-size: 1rem;
}

.size-box {
  padding: 40px;
  height: 68vh;
  overflow: hidden;
  padding-top: 100px;
}

.picker__box {
  width: 80%;
  margin-left: 50px;
  margin-top: -25px;
}

.margin {
  margin-top: 20px;
  margin-bottom: -5px;
}

.size-image {
  width: 50%;
  height: 50%;
}

.hoverable {
  margin: 4rem;
  box-shadow: 10px 10px 5px rgb(158, 158, 158);
  border: 1px solid rgb(211, 209, 209);
  text-align: center;
  background-color: white;
}

.card-panel {
  text-align: center;
  background-color: white;
}

h3 {
  text-align: center;
}

#map {
  height: 50%;
  width: 50%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hoverable:hover {
  box-shadow: 10px 10px 5px rgb(128, 124, 124);
}

@media only screen and (max-width: 500px) {
  .size-image {
    width: 200px;
    margin: 5px;
  }

  .card-panel {
    margin: 1rem;
  }

  .padding {
    padding: 0;
    height: 68vh;
    overflow: hidden;
    padding-top: 100px;
  }
}